  table {
    width: 80%;
    box-shadow: 0px 5px 10px 10px cadetblue;
    margin-left: 10%;
  }

  .title{
    text-align: center;
  }

  #sortButton{
    margin-left: 42%;
    margin-top: 3%;
    box-shadow: 0px 0px 1px 1px cadetblue;
  
  }
  .red{
    color: red;
  }
  