<div class="allData" (window:resize)="onResize($event)">
  <h1 class=" title">population data by years</h1>
  <table class="table" *ngIf="inform" mat-table [dataSource]="inform" class="mat-elevation-z8">
    <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{item}}</th>
      <td mat-cell *matCellDef="let element" [class.red]="element?.Population===max&&item==='Population'">
        {{element[item]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button id="sortButton" (click)="sort()" mat-raised-button>
    <mat-icon>sort</mat-icon>
    {{buttonSort}}</button>
</div>